
#content {
	position: absolute
}

img {
	margin: auto;
	display: block
}

.simblaEL img:not([width]) {
	max-width: 100%
}

.textContainer img {
	display: inline
}

.row {
	margin-right: 0!important;
	margin-left: 0!important
}

.sticky {
	position: fixed!important;
	z-index: 999
}

header.sticky[data-slide-type=fade],
header.sticky[data-slide-type=slide] {
	-webkit-transition: background-color .45s ease-out, top .35s ease-out, transform .35s ease-out, color .35s ease-out, margin-left 0s, width 0s;
	-moz-transition: background-color .45s ease-out, top .35s ease-out, transform .35s ease-out, color .35s ease-out, margin-left 0s, width 0s;
	-ms-transition: background-color .45s ease-out, top .35s ease-out, transform .35s ease-out, color .35s ease-out, margin-left 0s, width 0s;
	-o-transition: background-color .45s ease-out, top .35s ease-out, transform .35s ease-out, color .35s ease-out, margin-left 0s, width 0s;
	transition: background-color .45s ease-out, top .35s ease-out, transform .35s ease-out, color .35s ease-out, margin-left 0s, width 0s
}

header.sticky {
	position: relative!important;
	max-width: 100%
}

.textContainer .simblaImg {
	display: inline
}

a:focus {
	outline: 0
}

.simblaGallery[data-g-spacing=NONE] .sDivider {
	padding: 0
}

.simblaGallery[data-g-spacing=NONE] .elem {
	overflow: hidden
}

.simblaGallery[data-g-spacing=NONE] figure {
	width: calc(100% + 1px)
}

.simblaGallery[data-g-spacing=SMALL] .sDivider {
	padding: 7px
}

.simblaGallery[data-g-spacing=NORMAL] .sDivider {
	padding: 15px
}

.simblaGallery figure {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	overflow: hidden;
	text-align: center
}

.simblaGallery figure img {
	position: relative;
	display: block;
	opacity: 1
}

.simblaGallery figure img:not([width]) {
	min-height: 100%;
	max-width: 100%
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
	.simblaGallery figure img:not([width]) {
		min-height: initial
	}
}

@media not all and (min-resolution:.001dpcm) {
	.simblaGallery figure img:not([width]) {
		min-height: initial
	}
}

.simblaGallery figure figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 2em 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em
}

.simblaGallery[data-g-style=FADE] figcaption {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #484c61;
	-webkit-transition: -webkit-transform .35s, color .35s;
	transition: transform .35s, color .35s;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0)
}

.simblaGallery[data-g-style=FADE] figure img {
	transition: opacity .35s
}

.simblaGallery[data-g-style=FADE] figure:hover img {
	opacity: .6
}

.simblaGallery[data-g-style=FADE] figure:hover figcaption {
	color: #fff;
	-webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
	transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0)
}

.simblaGallery[data-g-style=SLIDE] img {
	max-width: none;
	width: -webkit-calc(100% + 60px);
	width: calc(100% + 60px);
	-webkit-transition: opacity .35s, -webkit-transform .35s;
	transition: opacity .35s, transform .35s;
	-webkit-transform: translate3d(-50px, 0, 0);
	transform: translate3d(-50px, 0, 0)
}

.simblaGallery[data-g-style=SLIDE] figure:hover img {
	opacity: .7;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.simblaGallery[data-g-style=ZOOM] figure {
	-webkit-perspective: 1000px;
	perspective: 1000px
}

.simblaGallery[data-g-style=ZOOM] img {
	-webkit-transition: opacity .35s, -webkit-transform .35s;
	transition: opacity .35s, transform .35s;
	-webkit-transform: translate3d(0, 0, 300px);
	transform: translate3d(0, 0, 300px)
}

.simblaGallery[data-g-style=ZOOM] figure:hover img {
	opacity: .6;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.simblaGallery[data-g-style=PUSH] img {
	-webkit-transition: -webkit-transform .35s;
	transition: transform .35s
}

.simblaGallery[data-g-style=PUSH] figure:hover img {
	-webkit-transform: translate3d(0, -80px, 0);
	transform: translate3d(0, -80px, 0)
}

.simblaGallery[data-g-style=PUSH] figure figcaption {
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 80px;
	text-align: left;
	-webkit-transition: -webkit-transform .35s;
	transition: transform .35s;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0)
}

.simblaGallery[data-g-style=PUSH] figure:hover figcaption,
.simblaGallery[data-g-style=PUSH] figure:hover h2 {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.simblaGallery[data-g-style=PUSH] figure:hover h2 {
	-webkit-transition-delay: 50ms;
	transition-delay: 50ms
}

.simblaGallery[data-g-style=BORDER] figure {
	background: #fff
}

.simblaGallery[data-g-style=BORDER] img {
	opacity: .95;
	-webkit-transition: -webkit-transform .35s;
	transition: transform .35s;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%
}

.simblaGallery[data-g-style=BORDER] figure:hover img {
	-webkit-transform: scale3d(.95, .95, 1);
	transform: scale3d(.95, .95, 1)
}

.simblaGallery[data-g-style=WASH] img {
	opacity: .95;
	-webkit-transition: opacity .35s, -webkit-transform .35s;
	transition: opacity .35s, transform .35s;
	-webkit-transform: scale3d(1.05, 1.05, 1);
	transform: scale3d(1.05, 1.05, 1)
}

.simblaGallery[data-g-style=WASH] figure:hover img {
	opacity: .6;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1)
}

.simblaGallery[data-g-style=WASH] figure figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .5);
	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform .6s;
	transition: transform .6s;
	-webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
	transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0)
}

.simblaGallery[data-g-style=WASH] figure:hover figcaption::before {
	-webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
	transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 120%, 0);
	opacity: 1
}

.simblaGallery[data-g-style="ZOOM OUT"] img {
	-webkit-transition: opacity .35s, -webkit-transform .35s;
	transition: opacity .35s, transform .35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12)
}

.simblaGallery[data-g-style="ZOOM OUT"] figure:hover img {
	opacity: .5;
	-webkit-transform: scale(1);
	transform: scale(1)
}

.container:not([style*="width: 100%"]):not([style*="width:100%"]) .container {
	margin-left: -15px
}

[class*=minHeight] {
	overflow: visible
}

.container-fluid::before,
.container::before {
	clear: both;
	content: "";
	display: table;
	height: 0
}

.container-fluid::after,
.container::after {
	clear: both;
	content: "";
	display: table;
	height: 0
}

.basic,
body {
	background-color: #fff
}

@media all and (max-device-width:760px) {
	#bodyContainer {
		overflow: auto
	}
}

@-webkit-keyframes anim {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@keyframes anim {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@-webkit-keyframes ring {
	0% {
		-webkit-transform: rotate(35deg)
	}
	12.5% {
		-webkit-transform: rotate(-30deg)
	}
	25% {
		-webkit-transform: rotate(25deg)
	}
	37.5% {
		-webkit-transform: rotate(-20deg)
	}
	50% {
		-webkit-transform: rotate(15deg)
	}
	62.5% {
		-webkit-transform: rotate(-10deg)
	}
	75% {
		-webkit-transform: rotate(5deg)
	}
	100% {
		-webkit-transform: rotate(0)
	}
}

@keyframes ring {
	0% {
		-webkit-transform: rotate(35deg);
		transform: rotate(35deg)
	}
	12.5% {
		-webkit-transform: rotate(-30deg);
		transform: rotate(-30deg)
	}
	25% {
		-webkit-transform: rotate(25deg);
		transform: rotate(25deg)
	}
	37.5% {
		-webkit-transform: rotate(-20deg);
		transform: rotate(-20deg)
	}
	50% {
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg)
	}
	62.5% {
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg)
	}
	75% {
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg)
	}
	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}
}

.col-md-12 {
	clear: both
}

@media only screen and (min-width:768px) and (max-width:1037px) {
	.simblaBlock.header9 img {
		margin-top: 13px
	}
}

.simblaBlock.content2 img {
	padding: 0;
	border-radius: 250px;
	width: 80%
}

@media only screen and (max-width:480px) {
	.simblaBlock.content2 img {
		width: 70%;
		margin-left: 12%
	}
}

.simblaBlock.content4 img {
	border-radius: 250px;
	padding: 0;
	width: 80%
}

@media only screen and (min-width:768px) and (max-width:1037px) {
	.simblaBlock.content4 img {
		width: 80%;
		margin-left: 8%
	}
}

@media only screen and (max-width:480px) {
	.simblaBlock.content4 img {
		width: 50%;
		margin-left: 25%
	}
}

.simblaBlock.content5 img {
	padding: 0;
	border-radius: 250px
}

@media only screen and (max-width:480px) {
	.simblaBlock.content5 img {
		width: 70%;
		margin-left: 12%
	}
}

@media only screen and (max-width:480px) {
	.simblaBlock.content7 img {
		margin-top: 30px
	}
}

@media only screen and (max-width:480px) {
	.simblaBlock.content8 h1 {
		font-size: 24px
	}
	.simblaBlock.content8 img {
		margin-top: 20px
	}
}

@media only screen and (min-width:768px) and (max-width:1037px) {
	.simblaBlock.header9 img {
		margin-top: 13px
	}
}

.simblaBlock.content2 img {
	padding: 0;
	border-radius: 250px;
	width: 80%
}

@media only screen and (max-width:480px) {
	.simblaBlock.content2 img {
		width: 70%;
		margin-left: 12%
	}
}

.simblaBlock.content4 img {
	border-radius: 250px;
	padding: 0;
	width: 80%
}

@media only screen and (min-width:768px) and (max-width:1037px) {
	.simblaBlock.content4 img {
		width: 80%;
		margin-left: 8%
	}
}

@media only screen and (max-width:480px) {
	.simblaBlock.content4 img {
		width: 50%;
		margin-left: 25%
	}
}

.simblaBlock.content5 img {
	padding: 0;
	border-radius: 250px
}

@media only screen and (max-width:480px) {
	.simblaBlock.content5 img {
		width: 70%;
		margin-left: 12%
	}
}

@media only screen and (max-width:480px) {
	.simblaBlock.content7 img {
		margin-top: 30px
	}
}

@media only screen and (max-width:480px) {
	.simblaBlock.content8 h1 {
		font-size: 24px
	}
	.simblaBlock.content8 img {
		margin-top: 20px
	}
}

body {
	background-color: #fff
}

h1 {
	font-family: Helvetica;
	font-weight: 700;
	color: #333;
	font-size: 36px;
	line-height: 40px
}

h2 {
	font-family: Helvetica;
	font-weight: 700;
	font-size: 24px;
	line-height: 26px
}

h3 {
	font-family: Helvetica;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #999
}

h4 {
	font-size: 15px;
	line-height: 20px;
	font-family: Helvetica;
	font-weight: 700;
	color: #333
}

p {
	font-family: Helvetica;
	font-weight: 400;
	color: #999;
	font-size: 12px;
	line-height: 17px
}

a {
	font-family: Helvetica;
	font-weight: 400;
	color: #999;
	font-size: 12px;
	line-height: 17px
}

.basic {
	background-color: #fff
}

.basic h1 {
	font-family: Helvetica;
	font-weight: 700;
	color: #333;
	font-size: 36px;
	line-height: 40px
}

.basic h2 {
	font-family: Helvetica;
	font-weight: 700;
	font-size: 24px;
	line-height: 26px
}

.basic h3 {
	font-family: Helvetica;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #999
}

.basic h4 {
	font-size: 15px;
	line-height: 20px;
	font-family: Helvetica;
	font-weight: 700;
	color: #333
}

.basic p {
	font-family: Helvetica;
	font-weight: 400;
	color: #999;
	font-size: 12px;
	line-height: 17px
}

.basic a {
	font-family: Helvetica;
	font-weight: 400;
	color: #999;
	font-size: 12px;
	line-height: 17px
}

.main {
	background-color: #272a38
}

.main h1 {
	font-family: Helvetica;
	font-weight: 700;
	color: #fff;
	font-size: 36px;
	line-height: 40px
}

.main h2 {
	font-family: Helvetica;
	font-weight: 700;
	color: #fff;
	font-size: 24px;
	line-height: 26px
}

.main h3 {
	font-family: Helvetica;
	font-weight: 400;
	color: #fff;
	font-size: 18px;
	line-height: 22px
}

.main h4 {
	font-family: Helvetica;
	font-weight: 700;
	color: #fff;
	font-size: 15px;
	line-height: 22px
}

.main p {
	font-family: Helvetica;
	font-weight: 400;
	font-size: 12px;
	line-height: 17px;
	color: #fff
}

.main a {
	font-family: Helvetica;
	color: #999;
	font-size: 12px;
	line-height: 17px
}

.secondary {
	background-color: #1e1e28
}

.secondary h1 {
	font-family: Helvetica;
	font-weight: 700;
	color: #fff;
	font-size: 50px;
	line-height: 60px
}

.secondary h2 {
	font-family: Helvetica;
	font-weight: 700;
	color: #fff;
	font-size: 30px;
	line-height: 35px;
	text-transform: none
}

.secondary h3 {
	font-family: Helvetica;
	font-weight: 400;
	color: #fff;
	font-size: 22px;
	line-height: 25px
}

.secondary h4 {
	font-family: Helvetica;
	font-size: 15px;
	line-height: 22px;
	color: #fff
}

.secondary p {
	font-family: Helvetica;
	font-size: 12px;
	font-weight: 400;
	color: #fff
}

.secondary a {
	font-family: Helvetica;
	font-size: 12px;
	line-height: 17px;
	color: #949494
}

.main-color {
	color: #272a38
}

.main-border-color {
	border-color: #272a38
}

.main-background {
	background-color: #272a38
}

.secondary-color {
	color: #1e1e28
}

.secondary-border-color {
	border-color: #1e1e28
}

.secondary-background {
	background-color: #1e1e28
}